* {
    margin: '0';
    padding: 0;
}

.container {
    /* background-color: blanchedalmond; */
    justify-content: center;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.agent-img {
    display: flex;
    align-items: center;
}

.agent-img button {
    width: 160px;
    height: 40px;
    border: none;
    background-color: aquamarine;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.btn img {
    width: 80px;
    border-radius: 30px;
}